<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>!</h1>
    <h1> Thank you for purchasing PPV <%= @organization.upcoming_event&.name %> </h1>
    <a
      href="www.starfund.app/organization/<%= @organization.id %>."
    >
      Go to PPV page
    </a>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
